<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">  <display-name>EMS</display-name>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ems.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileEditServlet</display-name>
    <servlet-name>ProfileEditServlet</servlet-name>
    <servlet-class>com.ems.servlet.ProfileEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileEditServlet</servlet-name>
    <url-pattern>/ProfileEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileViewServlet</display-name>
    <servlet-name>ProfileViewServlet</servlet-name>
    <servlet-class>com.ems.servlet.ProfileViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileViewServlet</servlet-name>
    <url-pattern>/ProfileViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileSubmitServlet</display-name>
    <servlet-name>ProfileSubmitServlet</servlet-name>
    <servlet-class>com.ems.servlet.ProfileSubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileSubmitServlet</servlet-name>
    <url-pattern>/ProfileSubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankEditServlet</display-name>
    <servlet-name>BankEditServlet</servlet-name>
    <servlet-class>com.ems.servlet.BankEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankEditServlet</servlet-name>
    <url-pattern>/BankEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankSubmitServlet</display-name>
    <servlet-name>BankSubmitServlet</servlet-name>
    <servlet-class>com.ems.servlet.BankSubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankSubmitServlet</servlet-name>
    <url-pattern>/BankSubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankViewServlet</display-name>
    <servlet-name>BankViewServlet</servlet-name>
    <servlet-class>com.ems.servlet.BankViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankViewServlet</servlet-name>
    <url-pattern>/BankViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordServlet</display-name>
    <servlet-name>PasswordServlet</servlet-name>
    <servlet-class>com.ems.servlet.PasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordServlet</servlet-name>
    <url-pattern>/PasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassServlet</display-name>
    <servlet-name>ForgotPassServlet</servlet-name>
    <servlet-class>com.ems.servlet.ForgotPassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassServlet</servlet-name>
    <url-pattern>/ForgotPassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPassServlet</display-name>
    <servlet-name>ResetPassServlet</servlet-name>
    <servlet-class>com.ems.servlet.ResetPassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassServlet</servlet-name>
    <url-pattern>/ResetPassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.ems.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReqHistoryServ</display-name>
    <servlet-name>ReqHistoryServ</servlet-name>
    <servlet-class>com.ems.servlet.ReqHistoryServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReqHistoryServ</servlet-name>
    <url-pattern>/ReqHistoryServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpDetsServlet</display-name>
    <servlet-name>EmpDetsServlet</servlet-name>
    <servlet-class>com.ems.servlet.EmpDetsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpDetsServlet</servlet-name>
    <url-pattern>/EmpDetsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateEmpServlet</display-name>
    <servlet-name>CreateEmpServlet</servlet-name>
    <servlet-class>com.ems.servlet.CreateEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateEmpServlet</servlet-name>
    <url-pattern>/CreateEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAppServlet</display-name>
    <servlet-name>ViewAppServlet</servlet-name>
    <servlet-class>com.ems.servlet.ViewAppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAppServlet</servlet-name>
    <url-pattern>/ViewAppServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewUserServlet</display-name>
    <servlet-name>NewUserServlet</servlet-name>
    <servlet-class>com.ems.servlet.NewUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewUserServlet</servlet-name>
    <url-pattern>/NewUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewBankServlet</display-name>
    <servlet-name>NewBankServlet</servlet-name>
    <servlet-class>com.ems.servlet.NewBankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewBankServlet</servlet-name>
    <url-pattern>/NewBankServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUpdateServlet</display-name>
    <servlet-name>ViewUpdateServlet</servlet-name>
    <servlet-class>com.ems.servlet.ViewUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUpdateServlet</servlet-name>
    <url-pattern>/ViewUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveServlet</display-name>
    <servlet-name>ApproveServlet</servlet-name>
    <servlet-class>com.ems.servlet.ApproveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveServlet</servlet-name>
    <url-pattern>/ApproveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectServlet</display-name>
    <servlet-name>RejectServlet</servlet-name>
    <servlet-class>com.ems.servlet.RejectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectServlet</servlet-name>
    <url-pattern>/RejectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StopPayServlet</display-name>
    <servlet-name>StopPayServlet</servlet-name>
    <servlet-class>com.ems.servlet.StopPayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StopPayServlet</servlet-name>
    <url-pattern>/StopPayServlet</url-pattern>
  </servlet-mapping>
</web-app>